body{font-family: 'Poppins', sans-serif;margin: 0px; overflow-x: hidden;}
.plan-button {background: #F496D1; padding: auto; width:200px;align-items:center;
  }
  .background-plus{background: #3F87F5;box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;color:greenyellow;
  }
  .clint{
    border-radius: 5px;background: #FFFFFF;}
  .plus-button{font-weight: 900;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: red;justify-content: end;align-items:end;margin-left: 140px;
    }
    .bn-color{color:#74747;
    }
.person-img{width: 100px;
  height: 100px;}

  .food{border-radius: 10px;width: 546px;
    height: 364px;}
  .asked{margin-top: 150px;}
  .download{color: white;margin-left:330px;padding:10px;}